# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Database
instance/
*.sqlite3
*.db-journal

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Static / IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store
